/django-blog/Guide.docx
/django-blog/~$Guide.docx
/django-blog/articles/__pycache__/
django-blog/articles/migrations/__pycache__/
django-blog/blog/__pycache__
/django-blog/Lib/
/django-blog/Scripts/
/django-blog/pyvenv.cfg
/django-blog/articles/__pycache__
/django-blog/blog/__pycache__
/django-blog/db.sqlite3
/django-blog/accounts/__pycache__
/django-blog/accounts/migrations/__pycache__