/django-blog/Guide.docx
/django-blog/~$Guide.docx
/django-blog/articles/__pycache__/
django-blog/articles/migrations/__pycache__/
django-blog/blog/__pycache__
/django-blog/Lib/
/django-blog/Scripts/
/django-blog/pyvenv.cfg